#navbar{background-color: #000;display: flex;flex-direction: row;align-items: center;justify-content: center;padding: 10px 0;position: absolute;width: 100%;top: 0;}
#navbar #logo{color: #fff;}
#navbar ul{list-style: none;display: flex;flex-direction: row;}
#navbar ul li{margin-left: 10px;}
#navbar ul li a{color: #fff;text-decoration: none;font-weight: bold;}
#navbar ul li a:hover{color: green;cursor: pointer;}