#dashboardAdicionar #corpo{background-color: transparent;display: flex;justify-content: center;align-items: center;height: 100vh;}
#dashboardAdicionar #corpo form{width: 50%;}
#dashboardAdicionar #corpo .optionValue{font-weight: "bold";}